<h4>Editar Entidad</h4>
<hr>
<div class="row text-right">
    <div class="col">
        <button routerLink="/entidadListar" class="btn btn-danger">
    <i class="fa fa-arrow-left"> Regresar</i>
  </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="actualizarEntidad(f)" #f="ngForm">
            <div class="form-group">
                <label>Razon social:</label>
                <input type="text" [(ngModel)]="entidad.razonSocial" name="razonSocial" required class="form-control">
            </div>

            <div class="form-group">
                <label>Telefono:</label>
                <input maxlength="40" type="text" [(ngModel)]="entidad.telefono" name="telefono" class="form-control">
            </div>

            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Actualizar
        </button>
            </div>

        </form>

    </div>
</div>