<h1>Listado de Entidades</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button routerLink="/entidadCrear" class="btn btn-primary">
      <i class="fa fa-plus"> Agregar</i>
    </button>
    </div>
</div>

<table class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Razón social(s)</th>
            <th scope="col">Teléfono</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entidad of listado; let i = index">
            <td>{{i + 1}}</td>
            <td>{{entidad.razonSocial}}</td>
            <td>{{entidad.telefono}}</td>
            <td>
                <button class="btn btn-info mr-1" [routerLink]="['/entidadEditar',entidad.id]">
          <i class="fa fa-pencil"></i>  
        </button>
                <button (click)="borrarEntidad(entidad,i)" class="btn btn-danger mr-1">
          <i class="fa fa-trash"></i>  
        </button>
                <button [routerLink]="['/entidadDetalle',entidad.id]" class="btn btn-info">
          <i class="fa fa-eye"></i>  
        </button>
            </td>

        </tr>
    </tbody>
</table>