<h1>
    Empleado <small>Nombre</small>
</h1>
<hr>
<div class="row text-right">
    <div class="col">
        <button routerLink="/empleados" class="btn btn-danger">
      <i class="fa fa-arrow-left"> Regresar</i>
    </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form #f="ngForm">
            <div class="form-group">
                <label>Nombres:</label>
                <input type="text" disabled [(ngModel)]="empleado.nombres" name="nombres" required class="form-control">
            </div>

            <div class="form-group">
                <label>Apellidos:</label>
                <input type="text" disabled [(ngModel)]="empleado.apellidos" name="apellidos" required class="form-control">
            </div>

            <div class="form-group">
                <label>Celular:</label>
                <input type="text" disabled [(ngModel)]="empleado.celular" name="celular" class="form-control">
            </div>

            <div class="form-group">
                <label>Email:</label>
                <input type="text" disabled [(ngModel)]="empleado.email" name="email" required class="form-control">
            </div>

            <div class="form-group">
                <label>Entidad:</label>
                <input type="text" disabled [(ngModel)]="empleado.entidad" name="entidad" class="form-control">
            </div>


            <hr>

        </form>

    </div>
</div>